@import '../base';
@import '../variables';

.pagination__container{
    margin-top: 4rem;
    .pagination{
        justify-content: center;
        .page-item{
            .page-link{
                background-color: $movie-show-active;
                border: none;
                color: $text-color-black;
            }
        }
        .active > .page-link{
            color: $text-color-white;
            background-color: $movie-show-color;
        }
    }
}