@import '../../base';
@import '../../variables';

.news__container{
    margin-top: 4rem;
    @include displayFlex(start);
    .news__title{
        transform: rotate(270deg);
        @include displayFlex(space-between);
        margin-bottom: auto;
        margin-top: 8rem;
        h1{
            color: $text-color-white;
            font-size: $font-size-xxl;
            white-space:nowrap;
            text-transform: uppercase;
            margin-left: 1rem;
        }
        img{
            transform: rotate(90deg);
            @include w-h(6rem,6rem)
        }
    }
    .news__content{
        @include w-h(100%,100%);
        .news__wrap{
            margin-bottom: 1rem;
            &:nth-child(odd){
                .news__item:nth-child(odd){
                    background-color: $main-color;
                    border-radius:  0 30px 0 30px;
                }
                .news__item:nth-child(even){
                    background-color: $movie-show-color;
                    border-radius: 30px 0 30px 0;
                }
            }
            &:nth-child(even){
                .news__item:nth-child(odd){
                    background-color: $movie-show-color;
                    border-radius: 30px 0 30px 0;
                }
                .news__item:nth-child(even){
                    background-color: $main-color;
                    border-radius: 0 30px 0 30px;
                }
            }
            .news__item{
                padding: 1.4rem;
                @include w-h(49%,12rem);
                @include displayFlex(space-between);
                margin-right: 1%;
                &-content{
                    overflow: hidden;
                    @include w-h(60%,100%);
                    padding-right: 1rem;
                    h1,p{
                        color:$text-color-white;
                        text-align: justify;
                    }
                    h1{
                        font-size: $font-size-s;
                        margin-bottom: .6rem;
                    }
                    p{
                        font-size: .8rem;
                        margin: 0;
                    }
                }
                &-img{
                    @include w-h(40%,100%);
                    img{
                        @include w-h(100%,100%);
                    }
                }
            }
        }
    }
}