@import '../../base';
@import '../../variables';

.admin__user{
    h1{
        text-align: center;
        font-size: $font-size-xxl;
        font-weight: 500;
        margin-bottom: 1rem;
        color: $text-color-white;
    }
    .user__statistic{
        margin: 2rem 0;
        &-item{
            padding: 1rem;
            background-color: $admin-color-card;
            color: $text-color-white;
            font-weight: 500;
            border-radius: 8px;
            h1{
                text-align: center;
                font-size: $font-size-m;
                border-bottom: 1px solid $admin-color-border;
                margin: 0;
                padding-bottom: 1rem;
            }
            section{
                margin-top: 1rem;
                @include displayFlex(space-around);
                .user__statistic-icon{
                    @include w-h(3rem,3rem);
                    @include displayFlex(center);
                    border-radius: 50%;
                    background-color: $admin-color-main;
                    svg{
                        font-size: $font-size-xl;
                    }
                }
                span{
                    font-size: $font-size-xl;
                }
            }
        }
    }
    .user__table{
        text-align: center;
        td{
            position: relative;
            &:hover > .user__action {
                display: block;
            }
            .user__action{
                position: absolute;
                z-index: 1;
                display: none;
                background-color: $text-color-white;
                color: $text-color-black;
                border-radius: 4px;
                top: 100%;
                ul{
                    margin: 0;
                    padding: 0;
                    li{
                        list-style: none;
                        padding: .2rem 1.4rem;
                        cursor: pointer;
                        &:hover{
                            background-color: $admin-color-hover;
                        }
                    }
                }
            }
        }
    }
}