@import '../base';
@import '../variables';

.movie__container{
    margin-top: 4rem;
    .movie__content{
        margin-top: 4rem;
        .movie__item{
            box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
            background-color: $movie-item-color;
            padding: 1.4rem;
            margin-bottom: 1rem;
            @include displayFlex(center);
            @include w-h(100%,30rem);
            a{
                @include w-h(50%,100%);
                .movie__img{
                    border: 5px solid $movie-item-boder;
                    box-shadow: 5px 5px 0 rgb(0 0 0 / 50%);
                    @include w-h(100%,100%);
                    img{
                        @include w-h(100%,100%);
                    }
                }
            }
            .movie__info{
                padding-left: 1.6rem;
                @include w-h(50%,100%);
                display: flex;
                flex-direction: column;
                align-items: center;
                .movie__text{
                    color: $text-color-white;
                    @include w-h(100%,50%);
                    overflow: hidden;
                    border-bottom: 1px dotted $text-color-white;
                    h1{
                        font-size: $font-size-xl;
                    }
                    p{
                        font-size: $font-size-m;
                        text-align: left;
                    }
                }
                .btn__buy{
                    background-color: $movie-show-active;
                    margin-top: auto;
                    @include w-h(10rem,3rem);
                    border-radius: 30px 0 30px 0;
                    a{
                        color: $text-color-black;
                        font-size: $font-size-m;
                        font-weight: bold;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}