@import '../../base';
@import '../../variables';

.movieshow__container{
    margin-bottom: 2rem;
    .show__tab{
        text-align: center;
        ul{
            @include displayFlex(center);
            padding: 0;
            margin: 0;
            li{
                list-style: none;
                padding: .6rem 6rem;
                background-color: $movie-show-color;
                transition: all 0.3s ease-in-out;
                @media only screen and ( max-width:46.2rem ){
                    padding: .2rem 1.6rem;
                }
                &:nth-child(1){
                    border-radius: 30px 50px 50px 0;
                    box-shadow: 10px 0 0 rgb(0 0 0 / 10%);
                }
                &:nth-child(2){
                    border-radius: 50px 30px 0 50px;
                    margin-left: -80px;
                    box-shadow: -10px 0 0 rgb(0 0 0 / 10%);
                    @media only screen and ( max-width:46.2rem ){
                        margin-left: -24px;
                    }
                }
                a{
                    color: $text-color-white;
                    font-size: $font-size-xl;
                    font-weight: 500;
                    text-decoration: none;
                    @media only screen and ( max-width:46.2rem ){
                        font-size: .8rem;
                    }
                }
            }
            .active__movieshow {
                z-index: 2;
                background-color: $movie-show-active;
                a{
                    color: $text-color-black;
                }
            }
        }
    }
    .show__content{
        margin-top: .1rem;
        padding: 3rem 0;
        background-color: $movie-show-active;
        .movie__show-item{
            @include w-h(100%,25rem);
            img{
                @include w-h(100%,80%);
            }
            h1{
                font-size: $font-size-l;
                margin-bottom: 0;
                text-align: center;
                margin-top: .4rem;
                color: $text-color-black;
                text-transform: uppercase;
            }
        }
        .btn__extend{
            margin-top: 1rem;
            text-align: center;
            button {
                background-color: $movie-show-color;
                border-radius: 25px;
                padding: .4rem 1rem;
                border: none;
                a{
                    color: $text-color-white;
                    text-decoration: none;
                }
            }
        }
    }
}