@import '../base';
@import '../variables';

.movietime{
    padding: 1rem;
    background-color: $movie-show-active;
    margin-top: 4rem;
    .movietime__img{
        border: 8px solid $movie-show-color;
        @include w-h(100%,auto);
        img{
            @include w-h(100%,100%);
        }
    }
    .movietime__info{
        margin-bottom: 2rem;
        h1{
            text-align: center;
            margin-bottom: 1rem;
            font-size: $font-size-xxl;
            color: $text-color-black;
        }
        .movietime__select{
            @include displayFlex(center);
            .movietime__item{
                margin: 0 .6rem;
                .dropdown{
                    button{
                       min-width: 10rem;
                       color: $text-color-white;
                       font-size: $font-size-s;
                       background-color: $movie-item-color;
                       border-radius: 30px 0 30px 0;
                       padding: .6rem 2rem;
                    }
                    &-menu{
                        padding: 0;
                        box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
                        button{
                            width: 100%;
                            border-radius: 0;
                            padding: .4rem 1rem;
                            background-color: $movie-item-boder;
                            color: $text-color-black;
                            transition:  all .2s ease-in;
                            text-align: left;
                            &:hover{
                                background-color: $movie-item-color;
                            }
                        }
                    }
                }
            }
        }

    }
    .movietime__ticket-active{
        display: block;
    }
    .movietime__ticket-disable{
        display: none;
    }
}