$main-color: #e00d7a;
$text-color-hover: #f2b819;
$movie-show-color: #f18720;
$movie-show-active: #fecf06;
$movie-item-color: #7c2665;
$movie-item-boder: #bc92b1;
$seat-choosed: rgb(112, 112, 112);
$seat-available: #7c2665;
$seat-selecting: royalblue;
$icon-red: red;
$icon-grey: grey;
$icon-green: green;
$text-color-white: white;
$text-color-black: black;
$font-size-s: 1rem;
$font-size-m: 1.2rem;
$font-size-l: 1.4rem;
$font-size-xl: 1.6rem;
$font-size-xxl: 1.8rem;
$font-size-xxxl: 2.6rem;
$table-color-even: #bc92b1;
$table-color-odd: white;
$admin-color-main: #e00d7a;
$admin-color-element: #7c2665;
$admin-color-hover: #fecf06;
$admin-color-border: #f18720;
$admin-color-card: #27293d;