@import '../base';
@import '../variables';

.modal-content{
    color: $text-color-white;
    background-color: $main-color;
    .modal-header{
        border-bottom: none;
        button{
            background-color: $main-color;
            border: none;
            font-size: 2rem;
        }
    }
    .modal-body{
        h1{
            font-size: $font-size-s;
            text-align: center;
            margin: 0;
        }
        .input-item{
            margin-bottom: 1rem;
            span{
                font-size: $font-size-s;
            }
            label {
                display: block;
                margin-bottom: .4rem;
            }
            ::-webkit-file-upload-button{
                border-radius: 25px;
                border: none;
                @include w-h(6rem,1.6rem);
            }
            input{
                background-color: $text-color-white;
                display: block;
                width: 100%;
                padding: .4rem 1rem;
                border-radius: 25px;
                outline: none;
                border: none;
                color: $text-color-black;
            }
        }
    }
    .modal-footer{
        border-top: none;
        justify-content: space-around;
        .btn__login,.btn__register{
            min-width: 8rem;
            border-radius: 25px;
            font-size: $font-size-s;
            outline: none;
            color: $text-color-black;
            background-color: $text-color-white;
            border: 2px solid $movie-show-color;
            transition: all .6s ease-in;
            &:hover {
                background-color: $movie-show-color;
            }
        }
    }
}